.primeira-div {
  height: fit-content;
  overflow: hidden;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  height: 32px;
}

.bold-highlight {
  font-weight: 600;
  color: #ffce00;
}

.segunda-div {
  position: relative;
  bottom: 6rem;
  color: white;
  display: block;
}


@keyframes rotating-text {
  0%, 100% {
    bottom: 96px;
  }
  25% {
    bottom: 96px;
  }
  35% {
    bottom: 96px;
  }
  45% {
    bottom: 48px;
  }
  55% {
    bottom: 48px;
  }
  65% {
    bottom: 0px;
  }
  90% {
    bottom: 0;
  }
  95% {
    bottom: 0;
  }
}

.animate-rotate-text {
  animation: rotating-text 15s ease infinite;
}