/* styles.css */

ul li {
    padding-right: 40px !important;
    padding: 20px;
}

.navbar-link:hover {
    color: #ffc107;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    transition: all 250ms;
}